.brandlogo {
  width: 6rem;
  height: 3.75rem;
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 1;
  overflow: hidden;
}

.logo {
  height: 100%;
  object-fit: cover;
}

@media screen and (min-width: 87.5rem) {
  .brandlogo {
    width: 10rem;
  }

  .brandlogo img {
    width: 7rem;
  }
}
