:root {
  --background: hsl(0, 0%, 94%);
  --foreground: hsl(0, 0%, 9%);

  --white: hsl(0, 0%, 100%);
  --black: hsl(0, 0%, 0%);
  --primary: hsl(223, 100%, 14%);
  --secondary: hsl(338, 100%, 44%);
  --tertiary: hsl(37, 95%, 58%);

  --spacing: 1rem;
  --primaryfont: system-ui, -apple-system, sans-serif;

  /* RESPONSIVE-BREAKPOINTS */
  --xxxl: 96rem; /* 1536px */
  --xxl: 85.375rem; /* 1366px */
  --xl: 75rem; /* 1200px */
  --lg: 64rem; /* 1024px */
  --md: 48rem; /* 768px */
  --sm: 40rem; /* 640px */
  --s: 36rem; /* 576px */
  --xs: 30rem; /* 480px */
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: hsl(0, 0%, 4%);
    --foreground: hsl(0, 0%, 93%);
  }
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}

/*===================================================
                      RESET
====================================================*/
*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

::selection {
  background: transparent;
  color: var(--primary);
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--primaryfont);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  min-height: 100svh;
}

figure,
img,
section,
main,
article,
header,
footer,
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

textarea {
  resize: none;
}

/*===================================================
                      UTILITIES
====================================================*/
.container {
  margin-inline: auto;
}

.gap-1 {
  gap: var(--spacing);
}

.gap-1-half {
  gap: calc(1.5 * var(--spacing));
}

.gap-2 {
  gap: calc(2 * var(--spacing));
}

.gap-2-half {
  gap: calc(2.5 * var(--spacing));
}

.gap-3 {
  gap: calc(3 * var(--spacing));
}

.gap-4 {
  gap: calc(4 * var(--spacing));
}

.gap-5 {
  gap: calc(5 * var(--spacing));
}

.mx-auto {
  margin-inline: auto;
}

.p-1 {
  padding: var(--spacing);
}

.p-1-half {
  padding: calc(1.5 * var(--spacing));
}

.p-2 {
  padding: calc(2 * var(--spacing));
}

.p-2-half {
  padding: calc(2.5 * var(--spacing));
}

.p-3 {
  padding: calc(3 * var(--spacing));
}

.p-4 {
  padding: calc(4 * var(--spacing));
}

.p-5 {
  padding: calc(5 * var(--spacing));
}

.px-1 {
  padding-inline: var(--spacing);
}

.px-1-half {
  padding-inline: calc(1.5 * var(--spacing));
}

.px-2 {
  padding-inline: calc(2 * var(--spacing));
}

.px-2-half {
  padding-inline: calc(2.5 * var(--spacing));
}

.px-3 {
  padding-inline: calc(3 * var(--spacing));
}

.px-4 {
  padding-inline: calc(4 * var(--spacing));
}

.px-5 {
  padding-inline: calc(5 * var(--spacing));
}

.py-1 {
  padding-block: var(--spacing);
}

.py-1-half {
  padding-block: calc(1.5 * var(--spacing));
}

.py-2 {
  padding-block: calc(2 * var(--spacing));
}

.py-2-half {
  padding-block: calc(2.5 * var(--spacing));
}

.py-3 {
  padding-block: calc(3 * var(--spacing));
}

.py-4 {
  padding-block: calc(4 * var(--spacing));
}

.py-5 {
  padding-block: calc(5 * var(--spacing));
}

.sticky {
  position: sticky;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 9999;
}

/*===================================================
                      MEDIA-QUERIES
====================================================*/
/* BREAK-POINT: 1536px */
@media screen and (max-width: 96rem) {
  .container {
    max-width: var(--xxl);
    padding-inline: calc(5 * var(--spacing));
  }
}

/* BREAK-POINT: 1366px */
@media screen and (max-width: 85.375rem) {
  .container {
    max-width: var(--xl);
    padding-inline: calc(4 * var(--spacing));
  }
}

/* BREAK-POINT: 1200px */
@media screen and (max-width: 75rem) {
  .container {
    max-width: var(--lg);
    padding-inline: calc(3 * var(--spacing));
  }
}

/* BREAK-POINT: 1024px */
@media screen and (max-width: 64rem) {
  .container {
    max-width: var(--md);
    padding-inline: calc(2 * var(--spacing));
  }
}

/* BREAK-POINT: 768px */
@media screen and (max-width: 48rem) {
  .container {
    max-width: var(--sm);
  }
}

/* BREAK-POINT: 640px */
@media screen and (max-width: 40rem) {
  .container {
    max-width: var(--s);
    padding-inline: calc(1.5 * var(--spacing));
  }
}

/* BREAK-POINT: 575px */
@media screen and (max-width: 36rem) {
  .container {
    max-width: var(--xs);
  }
}
