.navbar {
  width: 100%;
  height: 4rem;
  display: flex;
  align-items: center;
}

.brand,
.navmenu,
.authtoggle {
  flex: 1;
}

.authtoggle {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 1rem;
}

@media screen and (min-width: 64rem) {
  .navbar {
    height: 5rem;
  }
}
